{% extends "templates/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span9">
      <canvas id="canvas" width="870" height="500">HTML5対応のブラウザでのみ動作します.</canvas>
      <div id="emola-console"></div>
    </div>
    <div class="span1">
      <h4>AA</h4>
      <h4>BB</h4>
      <h4>CC</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
    </div>
  </div>
  <footer>
    <p>&copy; ymizushi 2014</p>
  </footer>
</div>
{% endblock %}
