{% extends "templates/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span9">
      <canvas id="canvas" width="870" height="500">HTML5対応のブラウザでのみ動作します.</canvas>
      <div id="emola-console"></div>
    </div>
    <div class="span3">
      <h4>(+ 1 2 3)</h4>
      <h4>(- 2 1 1)</h4>
      <h4>(* 1 2 3)</h4>
      <h4>(/ 1 3)</h4>
      <h4>(= 2 2)</h4>
      <h4>(= 2 1)</h4>
      <h4>(>= 1 1)</h4>
      <h4>(> 1 1)</h4>
      <h4>(<= 1 1)</h4>
      <h4>(< 1 1)</h4>
      <h4>(def hoge 1)</h4>
      <h4>hoge</h4>
      <h4>(defn add (x y) (+ x y))</h4>
      <h4>(add 1 2)</h4>
      <h4>(defn fuga (x y) (let (z (+ x y)) (+ z z)))</h4>
      <h4>(defn foo (x) (let (w (window)) (if (= x 1) (send w alert "x=1") (send w alert "x!=1"))))</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
      <h4>DD</h4>
    </div>
  </div>
  <footer>
    <p>&copy; ymizushi 2015 powered by clojure</p>
  </footer>
</div>
{% endblock %}
